body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}
/*header section*/
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*logotype*/
.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}
.logotype:hover,
.logotype:focus {
  color: #404bbf;
}
.logo-span {
  color: #2e2f42;
}

/*navigation*/

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 24px 0;
}
.contact {
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:focus,
.contact-link:hover {
  color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.main-nav,
.list,
.cont-header {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.cont-header {
  display: flex;
  justify-content: space-between;
}
.contact-list {
  gap: 40px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
/*hero section*/
.hero,
.footer {
  background: #2e2f42;
}
.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/bg.jpg');
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.name-hero {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.button-hero {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:focus,
.button-hero:hover {
  background-color: #404bbf;
}
/*features section*/

/*hide title*/
.vizually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*h3*/
.features-list-name,
.team-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text,
.team-text,
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*team sectoin*/
/*h2*/

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list {
  gap: 24px;
}

.team-name,
.portfolio-name {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-item-name,
.team-text {
  text-align: center;
}
.team-item-name {
  margin-bottom: 8px;
}
.team-text {
  margin-bottom: 8px;
}
.team-card {
  padding: 32px 0;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icon {
  margin: auto;
}
.social-link {
  fill: #f4f4fd;
  border: 1px solid #4d5ae5;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: #404bbf;
}

/*portfolio section*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item {
  width: calc(100%-48) / 3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portf-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*footer section*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  width: 264px;
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-text {
  display: flex;
  align-items: baseline;
  
}

.footer-logo,
.footer-text {
  color: #f4f4fd;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-logo-cont {
  margin-right: 120px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
